.to-do-list{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
}
h1{
  font-size: 4rem;

}
button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.add-button{
  background-color: #28a745;
}
.add-button.hover{
  background-color: #218838; 
}
.delete-button{
  background-color: #007bff;
}
.delete-button.hover{
  background-color: #0069d9; 
}
.move-button{
  background-color: #ffc107;
}
.move-button.hover{
  background-color: #e0a800;
}
input[type = "text"]{
  font-size: 1.5rem;
  padding: 10px;
  border: 2px solid #c9c2c2;
  border-radius: 5px;
  color: darkolivegreen;
}
ol{
  padding: 0;
}
body{
  background-color: hsl(0, 1%, 32%);
}
li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: beige;
  margin-bottom: 10px;
  border: 3px solid #c9c2c2;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.text{
  flex: 1;
}
.delete-button, .move-button{
  margin-left: 10px;
  padding: 8px 12px;
  font-size: 1.4rem;
}